* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

nav {
    width: 80%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family: 'kdam Thmor Pro' sans-serif;
}

li:hover {
    color: #d21617;
}

#logo {
    width: 130px;
    height: auto;
}   

body {
    background-color: black;
}
    
.fundo-formulario {

    width: 350px;
    height: 420px;
    margin-left: 36%;
    margin-top: 3%;
    background-color: #d21617;
    border-radius: 30px;
    
}

.forms {
    padding-top: 35%;
    padding-left: 25%
    
}

#button {
    padding-left:10%;
    padding-top: 5%;

}

button{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 50%;
}

button:hover {
    background-color: black;
    color: aliceblue;
}

input{
    border-radius: 5px;
    border-style: solid;
    border-color: black;

}

label{
    display: block;
    padding-left: 65px;
}